#title {
    background-color: rgb(0, 0, 0);
}
#first {
    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #3d454d, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #3d454d, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: cornsilk;
    text-align: center;
}

.container-fluid {
    padding: 2% 10%;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(32, 242, 32, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
.homescr{
    width:100%;
}
#memes {
    padding-top: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.rounded {
    width: 100%;
    margin: 10%;
}
.images{
    width: 100%;
}
h2{
    font-family: 'Pacifico', cursive;
    color: yellowgreen;
    padding-top: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
#latest {
 background: #20002c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #cbb4d4, #914aaa);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #cbb4d4, #914aaa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.latestanime {
    padding: 20px;
}
h4 {
    font-family: 'Bree Serif', serif;
}

#topanime {
    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #3d454d, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #3d454d, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
}
.card {
    width: 90%;
    margin: 10%;
    padding:3%;
    height: 600px;
}
.card-img-top {
    width: 90%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
}