#title {
    background-color: rgb(67, 58, 78);
}
#first {
    background-color: rgb(88, 84, 84);
    color: cornsilk;
}

.container-fluid {
    padding: 2% 10%;
}
#memes {
    padding-top: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
h2{
    font-family: 'Pacifico', cursive;
    color: yellowgreen;
    padding-top: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
#latest {
    background-color: rgb(197, 179, 219);
}
.latestanime {
    padding: 20px;
}
h4 {
    font-family: 'Bree Serif', serif;
}